@import '../core/import-once';
@import '../core/variables';
@import '../core/mixins';

@mixin card {
  .c-card {
    position: relative;
    z-index: 0;

    &__link {
      display: flex;
      flex-direction: column;
      height: 100%;

      &:hover,
      &:visited,
      &:link,
      &:active {
        text-decoration: none !important;
        color: var(--cds-text-01);
      }

      &:focus {
        @include focus-outline();
      }

      &:hover {
        .c-card__title {
          color: var(--cds-hover-primary);
        }
      }
    }

    &__title {
      color: var(--cds-interactive-01);
      margin: 0;
      text-decoration: underline;
    }

    &__meta {
      text-decoration: none;
      margin-top: 4px;
      color: var(--cds-icon-02);
    }

    &__body {
      margin: 0;
      text-decoration: none;
    }

    &::after {
      content: '';
      position: absolute;
      outline: 3px solid var(--cds-ui-01);
      left: -12px;
      right: -12px;
      top: -12px;
      bottom: -12px;
      z-index: -1;
    }
  }
}

@include exports('card') {
  @include card();
}