@import '../core/import-once';
@import '../core/variables';

@mixin link {
  .c-link {
    color: var(--cds-link-01);
    cursor: pointer;
    text-decoration: underline;

    &:visited {
      color: var(--cds-visited-link);
    }

    &:focus {
      @include focus-outline;
    }
  }
}

@include exports('link') {
  @include link();
}